	<div class="row">
		<div class="col-md-2">
		</div>
		<div class="col-md-8">
			<div class="panel panel-warning">
			<div class="panel-heading text-center">修 改 用 户
			</div>
			<form role="form" id="userupdateform" method="post" action="">
			<input type="hidden" name="id" value="<%=user.id %>">
			<div class="panel-body">
				<div class="form-group">
					<label for="username">
						<span class="glyphicon glyphicon-user"></span> 用户名
					</label>
					<input type="text" class="form-control" id="username" name="un"
					autofocus="autofocus" required="required" value="<%=user.userName %>" />
				</div>
				<div class="form-group">
					<label for="password">
						<span class="glyphicon glyphicon-lock"></span> 密码
					</label>
					<input type="password" class="form-control" id="password" name="pw"
					 required="required" value="<%=user.password %>" />
				</div>
				<div class="form-group">
					<label for="password1">
						<span class="glyphicon glyphicon-lock"></span> 确认密码
					</label>
					<input type="password" class="form-control" id="password1" required="required"  value="<%=user.password %>"/>
				</div>
				<div class="form-group">
					<label>
						<span class="glyphicon glyphicon-credit-card"></span> 角色
					</label>
					<br/>
					<label class="radio-inline">
						<input type="radio" name="ident" value="0"  <%=user.ident=='0'?"checked":"" %> />普通用户
					</label>
					<label class="radio-inline">
						<input type="radio" name="ident" value="1" <%=user.ident=='1'?"checked":"" %> />管理员
					</label>
				</div>
				<div class="form-group">
					<label for="telphone">
						<span class="glyphicon glyphicon-earphone"></span> 电话
					</label>
					<input type="number" class="form-control" id="telphone"	name="tel"	required="required"  value="<%=user.telephone %>"/>
				</div>
				<div class="form-group">
					<label for="address">
						<span class="glyphicon glyphicon-globe"></span> 地址
					</label>
					<input type="text" class="form-control" id="address" name="addr"
					required="required"  value="<%=user.address %>"/>
				</div>
			</div>
			<div class="panel-footer text-center">
				<button type="button"  id="update" class="btn btn-warning">确认修改</button>&nbsp;&nbsp;
				<a role="button"  id="cancel" class="btn btn-default" >放弃返回</a>
			</div>
			</form>
			</div>
		</div>
		<div class="col-md-2"></div>
	</div><!--ending 1th row-->
    <script>
        $(document).ready(function(){
            $("#update").click(function(){
              var data=$('#userupdateform').serialize();
              var id=$('[name="id"]').val();
                $.ajax({url:'/users/crud/'+id,data,method:'put',success:function(res){
                     location.href=location.href;
                }})
            
            })
            $('#cancel').click(function(){
                location.href=location.href;
            })
        })
    </script>